<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bima.dokterpribadimu"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />


    <application
        android:name=".DokterPribadimuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        android:name="android.support.multidex.MultiDexApplication">
        <activity android:name=".view.activities.LandingActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".view.activities.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.ProfileActivity" />
        <activity android:name=".view.activities.MedicineInformationActivity" />
        <activity android:name=".view.activities.CurrentHealthActivity" />
        <activity android:name=".view.activities.GeneralInformationActivity" />
        <activity android:name=".view.activities.AboutActivity" />
        <activity android:name=".view.activities.SubscriptionActivity" />
        <activity android:name=".view.activities.SubscriptionPlansActivity" />
        <activity android:name=".view.activities.SignInActivity" />
        <activity android:name=".view.activities.DoctorCallPendingActivity" />
        <activity android:name=".view.activities.DoctorCallAssignedActivity" />
        <activity android:name=".view.activities.DoctorCallActivity" />        
        <activity android:name=".view.activities.DoctorProfileActivity" />
        <activity android:name=".view.activities.CallDetailsActivity" />
        <activity android:name=".view.activities.BookCallActivity" />
        <activity android:name=".view.activities.RegisterNameActivity" />
        <activity android:name=".view.activities.HomeActivity" />
        <activity android:name=".view.activities.PartnersActivity" />
        <activity android:name=".view.activities.PartnersLandingActivity" />
        <activity android:name=".view.activities.PartnersSearchActivity" />
        <activity android:name=".view.activities.PartnersDetailActivity" />
        <activity android:name=".view.activities.NewsDetailActivity" />
        <activity android:name=".view.activities.NewsActivity" />
        <activity android:name=".view.activities.OnboardingActivity" />

        <!-- Used for Google Play Store Campaign Measurement-->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".messaging.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".messaging.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.google.ads.conversiontracking.InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="10a1d9677d854aab43358157fdafd6cd556f2f76" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>